aiohttp==3.8.3
aiosignal==1.3.1
anyascii==0.3.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
Babel==2.11.0
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.6
coqpit==0.0.17
cycler==0.11.0
Cython==0.29.28
dateparser==1.1.4
decorator==5.1.1
docopt==0.6.2
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
g2pkk==0.1.2
google==3.0.0
google-api-core==2.11.0
google-auth==2.15.0
google-cloud==0.34.0
google-cloud-texttospeech==2.13.0
googleapis-common-protos==1.57.0
grpcio==1.51.1
grpcio-status==1.51.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
ibm-cloud-sdk-core==3.16.0
ibm-watson==6.1.0
idna==3.4
inflect==5.6.0
install==1.3.5
iso8601==1.1.0
itsdangerous==2.1.2
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jsonlines==1.2.0
kiwisolver==1.4.4
librosa==0.8.0
llvmlite==0.38.1
MarkupSafe==2.1.1
matplotlib==3.6.2
mecab-python3==1.0.5
multidict==6.0.3
networkx==2.8.8
nltk==3.8
num2words==0.5.12
numba==0.55.2
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
openai==0.25.0
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
Pillow==9.3.0
playsound==1.3.0
pooch==1.6.0
proto-plus==1.22.1
protobuf==4.21.12
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydub==0.25.1
pygame==2.1.2
PyJWT==2.6.0
pynndescent==0.5.8
pyparsing==3.0.9
pypinyin==0.47.1
pysbd==0.3.4
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-vlc==3.0.18121
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
resampy==0.4.2
rsa==4.9
scikit-learn==1.2.0
scipy==1.9.3
six==1.16.0
soundfile==0.11.0
soupsieve==2.3.2.post1
tensorboardX==2.5.1
threadpoolctl==3.1.0
torch==1.13.1
torchaudio==0.13.1
tqdm==4.64.1
trainer==0.0.19
TTS==0.10.0
twitchio==2.5.0
types-pytz==2022.7.0.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
umap-learn==0.5.1
unidic-lite==1.0.8
urllib3==1.26.13
websocket-client==1.1.0
Werkzeug==2.2.2
yarl==1.8.2
